{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "printWidth": 120,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}
