.app {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.editors {
  width: 50vw;
  height: 100%;
  resize: horizontal;
  overflow-y: scroll;
}

.editorTabs {
  display: flex;
  gap: 8px;
}

.editorItem {
  height: 100%;
}

.editorItem > div {
  height: 100%;
}

.preview {
  width: 50vw;
  flex: 1 1 auto;
}

.preview iframe {
  width: 100%;
  height: 100%;
  border: none;
}
